{% extends 'base.html.twig' %}

{% block body %}






    <h2>Pages list</h2>
    <p>
        <a class="btn btn-primary btn-lg" href="{{ path('zlotekarty_page_create') }}">New Page</a>
        <a class="btn btn-primary btn-lg" href="{{ path('zlotekarty_category_index') }}">Category</a>
        <a class="btn btn-primary btn-lg" href="{{ path('zlotekarty_tag_index') }}">Tags</a>
        <a class="btn btn-primary btn-lg" href="{{ path('zlotekarty_menu_list') }}">Menu</a>


    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Author</th>
                <th>Category</th>
                <th>Title</th>
                <th>Create</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
            <td>{{ page.user.username }}</td>
            <td>{{ page.category.name }}</td>
            <td>{{ page.title }}</td>
            <td>{{ page.createDateTime | date('d.m.Y h:i') }}</td>
            <td>
                <a class="btn btn-secondary" href="{{ path('zlotekarty_page_show', {id: page.id}) }}">Show</a>
                <a class="btn btn-secondary" href="{{ path('zlotekarty_page_edit', {id: page.id}) }}">Edit</a>
                <form
                    method="post" 
                    action="{{ path('zlotekarty_page_delete', {id: page.id}) }}"
                    onsubmit="return confirm('Are you sure to delete?');"
                    class="d-inline"
                >
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page.id) }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            </tr>            
        {% endfor %}
        </tbody>
    </table>



{% endblock %}


